body {
    background: #493e34;
}

.wrapper {
    padding: 30px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

.quads {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
}

.quads__quad {
    width: 200px;
    height: 200px;
    background: #757272;
    border-radius: 5px;
}

.quads__quad--red {
    background: linear-gradient(130deg, rgb(252, 67, 67), rgb(215, 106, 47));
}
.quads__quad--green {
    background: linear-gradient(130deg, rgb(25, 186, 38), rgb(47, 215, 167));
}
.quads__quad--blue {
    background: linear-gradient(130deg, rgb(33, 25, 186), rgb(160, 44, 193));
}

.area {
    flex: 1 0 auto;
    border: 5px dashed #333;
    height: 800px;
}

.area__place {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-weight: 900;
    width: 200px;
    height: 200px;
    pointer-events: none;
    border-radius: 5px;
    border: 5px dashed #8f8787;
    color: #8f8787;
}

/* ================== Выполнение дз ниже =================== Transform */

.quads__quad--red {
    transform: translate(645px, 595px);
}

.quads__quad--green {
    transform: translate(405px, -95px) rotate(25deg);
}

.quads__quad--blue {
    transform: translate(835px, -295px) scale(2);
}
/* ========================================================== Position */

.container {
    display: flex;
    justify-content: center;
}

.fixed {
    display: flex;
    justify-content: end;
    width: 100%;
}

.fixed__rectangle {
    position: fixed;
    background-color: white;
    height: 100px;
    border-radius: 10px;
    z-index: 1;
    bottom: 100px;
    right: 50px;
    left: 50%;
}

.fixed__circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: red;
    position: relative;
    bottom: 50px;
    left: 100px;
}

/* ========================================================== Псевдоэлементы */

.psevdoelemnt {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 86px;
    color: white;
}

.psevdoelemnt::before {
    content: '';
    display: block;
    position: absolute;
    transform: translate(-250px, 0);
    width: 80px;
    height: 80px;
    border: 5px solid white;
    background: red;
    border-radius: 50%;
}

.psevdoelemnt::after {
    content: '';
    display: block;
    position: absolute;
    transform: translate(250px, 0);
    width: 80px;
    height: 80px;
    border: 5px solid white;
    background: blue;
    border-radius: 50%;
}

/* ========================================================== Animation */

.animation__quads {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 500px 0;
    color: #757272;
    font-size: 32px;
    background: #757272;
    width: 400px;
    height: 400px;
    border-radius: 25px;
    transition: all 1s 1s;
}

.inner {
    position: relative;
    align-items: center;
    height: 900px;
    width: 900px;
    display: flex;
    justify-content: center;
}

.animation__aline {
    background-color: white;
    height: 25px;
    width: 0px;
    position: absolute;
    top: 180px;
    left: 0;
    transition-duration: 1s;
}

.animation__quads:hover {
    color: #85e87e;
    .animation__aline {
        width: 100%;
    }
}

